.container {
    position: relative;
    width: 100%;
    height: 250vh;
    overflow: hidden;
    z-index: 1;
}

.imageWrapper {
    position: absolute;
    top: 25vh; /* centrado vertical en el primer 100vh */
    left: 23%;
    transform: 0;
    width: 60vw;
    height: 60vw;
    transform-origin: center center;
    will-change: transform;
    z-index: 2;
}

.heroImage {
    z-index: 1;
}
